In [175]:
#Data Cleaning and Preparation
#1.Standardizing the type of values
#2.Filling missing data
#3.Merging tables
import pandas as pd
import numpy as np
import csv
from sklearn.utils import shuffle

In [102]:
#First table: Details of all coupons
coupon_info = pd.read_csv('coupon_list_train.csv')
coupon_info.head()

,CAPSULE_TEXT,GENRE_NAME,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPFROM,DISPEND,DISPPERIOD,VALIDFROM,VALIDEND,...,USABLE_DATE_THU,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY,large_area_name,ken_name,small_area_name,COUPON_ID_hash
0,グルメ,グルメ,50,3000,1500,2011-07-08 12:00:00,2011-07-09 12:00:00,1,2011-07-10,2011-12-08,...,1.0,0.0,0.0,1.0,1.0,0.0,関東,埼玉県,埼玉,6b263844241eea98c5a97f1335ea82af
1,グルメ,グルメ,51,2080,1000,2011-07-01 12:00:00,2011-07-02 12:00:00,1,2011-07-03,2011-12-04,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,千葉県,千葉,cc031f250e8bad1e24060263b9fc0ddd
2,グルメ,グルメ,50,7000,3500,2011-07-12 12:00:00,2011-07-15 12:00:00,3,2011-07-16,2012-01-11,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,千葉県,千葉,ba5e9b7453ca52ff711635a5d2e8102d
3,グルメ,グルメ,50,3000,1500,2011-07-09 12:00:00,2011-07-11 12:00:00,2,2011-07-12,2011-12-01,...,1.0,0.0,0.0,1.0,1.0,1.0,関東,千葉県,千葉,3e1ffbedca3569f9e8032d401e8cb4e6
4,グルメ,グルメ,50,2000,1000,2011-07-05 12:00:00,2011-07-06 12:00:00,1,2011-07-07,2011-12-30,...,1.0,0.0,0.0,1.0,1.0,0.0,関東,千葉県,千葉,782934b6c815b4030ea204eef7d4a734

In [103]:
#Transferring from non-numeric value to numeric value as Dummy varibles
coupon_info["CAPSULE_TEXT"] = coupon_info["CAPSULE_TEXT"].map({
    'グルメ':int(1),'ヘアサロン':int(2),
    'エステ':int(3),'リラクゼーション':int(4),
    '宅配':int(5),'レジャー':int(6),
    'ホテル':int(7),'旅館':int(8),
    'ネイル・アイ':int(8),'通学レッスン':int(9),
    'その他':int(10),'ロッジ':int(11),
    'WEBサービス':int(12),'貸別荘':int(13),
    'ギフトカード':int(14)})
coupon_info["CAPSULE_TEXT"].fillna(int(15),inplace=True)

In [104]:
coupon_info["ken_name"] = coupon_info["ken_name"].map({
    '大阪府':int(1),'東京都':int(2),
    '神奈川県':int(3),'兵庫県':int(4),
    '愛知県':int(5),'埼玉県':int(6),
    '山梨県':int(7),'広島県':int(8),
    '三重県':int(9),'宮城県':int(10),
    '群馬県':int(11),'京都府':int(12),
    '長崎県':int(13),'北海道':int(14),
    '千葉県':int(15),'高知県':int(16),
    '大分県':int(17),'静岡県':int(18),
    '沖縄県':int(19),'福島県':int(20),
    '福岡県':int(21),'福井県':int(22),
    '秋田県':int(23),'茨城県':int(24),
    '長野県':int(25),'山形県':int(26),
    '熊本県':int(27),'岡山県':int(28),
    '和歌山県':int(29),'岐阜県':int(30),
    '滋賀県':int(31),'岩手県':int(32),
    '岩手県':int(33),'奈良県':int(34),
    '石川県':int(35)})

In [107]:
coupon_info0 = coupon_info[['COUPON_ID_hash','CAPSULE_TEXT','PRICE_RATE',
                            'CATALOG_PRICE','DISCOUNT_PRICE',
                            'DISPPERIOD','USABLE_DATE_THU','USABLE_DATE_FRI',
                           'USABLE_DATE_SAT','USABLE_DATE_SUN',
                           'USABLE_DATE_HOLIDAY','USABLE_DATE_BEFORE_HOLIDAY',
                           'ken_name',]]

In [108]:
coupon_info0.head()

,COUPON_ID_hash,CAPSULE_TEXT,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPPERIOD,USABLE_DATE_THU,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY,ken_name
0,6b263844241eea98c5a97f1335ea82af,1.0,50,3000,1500,1,1.0,0.0,0.0,1.0,1.0,0.0,6.0
1,cc031f250e8bad1e24060263b9fc0ddd,1.0,51,2080,1000,1,1.0,1.0,1.0,1.0,1.0,1.0,15.0
2,ba5e9b7453ca52ff711635a5d2e8102d,1.0,50,7000,3500,3,1.0,1.0,1.0,1.0,1.0,1.0,15.0
3,3e1ffbedca3569f9e8032d401e8cb4e6,1.0,50,3000,1500,2,1.0,0.0,0.0,1.0,1.0,1.0,15.0
4,782934b6c815b4030ea204eef7d4a734,1.0,50,2000,1000,1,1.0,0.0,0.0,1.0,1.0,0.0,15.0

In [109]:
#Dealing with the missing values
null_columns=coupon_info0.columns[coupon_info0.isnull().any()]
coupon_info0[null_columns].isnull().sum()

USABLE_DATE_THU               7005
USABLE_DATE_FRI               7005
USABLE_DATE_SAT               7005
USABLE_DATE_SUN               7005
USABLE_DATE_HOLIDAY           7005
USABLE_DATE_BEFORE_HOLIDAY    7005
ken_name                       962
dtype: int64

In [236]:
coupon_info0 = coupon_info0.dropna(subset=['ken_name'])

In [110]:
coupon_info0 = coupon_info0.fillna(0)
null_columns=coupon_info0.columns[coupon_info0.isnull().any()]
coupon_info0[null_columns].isnull().sum()

Series([], dtype: float64)

In [129]:
#Table 2: Purchase History
purchase_data = pd.read_csv('coupon_detail_train.csv')
purchase_data = purchase_data[['USER_ID_hash','COUPON_ID_hash']]
purchase_data = purchase_data.rename(index=str,columns={'COUPON_ID_hash':'COUPON_ID_hash_purchase'})
purchase_data = purchase_data.drop_duplicates()
purchase_data.head()

                       USER_ID_hash           COUPON_ID_hash_purchase
0  d9dca3cb44bab12ba313eaa681f663eb  34c48f84026e08355dc3bd19b427f09a
1  560574a339f1b25e57b0221e486907ed  767673b7a777854a92b73b0934ddfae7
2  560574a339f1b25e57b0221e486907ed  4f3b5b91d9831192557c056022fdc1f2
7  560574a339f1b25e57b0221e486907ed  259a22533cab381464c89f616a56d12d
8  560574a339f1b25e57b0221e486907ed  f4a6f861a266799b07cd99c26e80962b

In [128]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158933 entries, 0 to 168995
Data columns (total 2 columns):
USER_ID_hash               158933 non-null object
COUPON_ID_hash_purchase    158933 non-null object
dtypes: object(2)
memory usage: 3.6+ MB

In [126]:
#Table 3: Browse History
browse_hist = pd.read_csv('coupon_visit_train.csv')
browse_hist = browse_hist[['USER_ID_hash','VIEW_COUPON_ID_hash']]
browse_hist = browse_hist.drop_duplicates()
pd.DataFrame.info(browse_hist)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1853450 entries, 0 to 2833176
Data columns (total 2 columns):
USER_ID_hash           object
VIEW_COUPON_ID_hash    object
dtypes: object(2)
memory usage: 42.4+ MB

In [127]:
browse_hist.head()

                       USER_ID_hash               VIEW_COUPON_ID_hash
0  d9dca3cb44bab12ba313eaa681f663eb  34c48f84026e08355dc3bd19b427f09a
2  d9dca3cb44bab12ba313eaa681f663eb  17c450c3b470c045d35ec22b02daa690
3  d9dca3cb44bab12ba313eaa681f663eb  91a15e6a95d09e5e01b50747833b317d
4  d9dca3cb44bab12ba313eaa681f663eb  96fcbc8f6e45d5a2de1661eb140c6e82
7  d9dca3cb44bab12ba313eaa681f663eb  13090b0c75d7d2d51b15c51bfa7a90fe

In [193]:
#Table 4: Customer Profile
customer = pd.read_csv('user_list.csv')
customer = customer[['USER_ID_hash','SEX_ID','AGE']]

In [132]:
#Left Join table of browse history with table of Purchase History
join0 = pd.merge(browse_hist,purchase_data,left_on = ['USER_ID_hash','VIEW_COUPON_ID_hash'],
         right_on = ['USER_ID_hash','COUPON_ID_hash_purchase'],how = 'left')

In [134]:
join0['COUPON_ID_hash_purchase'] = join0['COUPON_ID_hash_purchase'].fillna(0)

In [135]:
for index,value in join0.iterrows():
    if value['COUPON_ID_hash_purchase'] !=0:
        join0.iloc[index]['COUPON_ID_hash_purchase'] = 1

In [158]:
#Problem of Imbalance of classes. Undersampling is needed to obatain a subset of the orginal dataframe
join0.groupby(['COUPON_ID_hash_purchase']).count()

                         USER_ID_hash  VIEW_COUPON_ID_hash
COUPON_ID_hash_purchase
0                             1723455              1723455
1                              129995               129995

In [163]:
temp = pd.DataFrame()
rows = np.random.choice
temp = join0.groupby(['COUPON_ID_hash_purchase']).get_group(0)
temp = temp.sample(129995)
temp2 = join0.groupby(['COUPON_ID_hash_purchase']).get_group(1)
join1 = pd.concat([temp,temp2])
join1 = join1.reindex()
join1.groupby(['COUPON_ID_hash_purchase']).count()

                         USER_ID_hash  VIEW_COUPON_ID_hash
COUPON_ID_hash_purchase
0                              129995               129995
1                              129995               129995

In [202]:
#Joining the tables of information of coupon and customer
join2 = pd.merge(join1,coupon_info0,left_on='VIEW_COUPON_ID_hash',right_on = 'COUPON_ID_hash',how = 'left')
join2 = join2.dropna()
join2 = join2.drop_duplicates(subset = ['USER_ID_hash','VIEW_COUPON_ID_hash'])

In [203]:
join3 = pd.merge(join2,customer,left_on ='USER_ID_hash',right_on ='USER_ID_hash', how = 'left')
join3 = join3.dropna()
join3 = join3[['USER_ID_hash', 'VIEW_COUPON_ID_hash','CAPSULE_TEXT', 'PRICE_RATE', 'CATALOG_PRICE',
       'DISCOUNT_PRICE', 'DISPPERIOD', 'USABLE_DATE_THU', 'USABLE_DATE_FRI',
       'USABLE_DATE_SAT', 'USABLE_DATE_SUN', 'USABLE_DATE_HOLIDAY',
       'USABLE_DATE_BEFORE_HOLIDAY', 'ken_name', 'SEX_ID', 'AGE','COUPON_ID_hash_purchase']]
join3['COUPON_ID_hash_purchase'] = join3['COUPON_ID_hash_purchase'].astype(int)
join3['SEX_ID'] = join3['SEX_ID'].astype(int)
join3 = shuffle(join3)

In [235]:
# Our final dataframe which will feed the machine learning models. 
join3.head()

,USER_ID_hash,VIEW_COUPON_ID_hash,CAPSULE_TEXT,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPPERIOD,USABLE_DATE_THU,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY,ken_name,SEX_ID,AGE,COUPON_ID_hash_purchase
74317,ab815df0524377c0a908ca28af3f7562,99bdfc335cf784ed0cad2ade5b332a42,1.0,56.0,4500.0,1980.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,0,37,0
34425,94fa0a9fdc8a2a6a69021b21c3c50938,78c7cb679f17bb049cb9bfdb6acae936,1.0,65.0,2900.0,1000.0,5.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,0,54,0
39968,2126aa4a19697fa56c7c613c2e2fa26d,d908bd82b46ac440bf3b8935f925a11d,1.0,51.0,8000.0,3900.0,7.0,1.0,2.0,2.0,0.0,2.0,2.0,2.0,1,33,0
239510,9d102ee5e680f9617779f0fb12b3cf2d,22a3eecdd735a9fe678d313ae65a76ce,8.0,50.0,15700.0,7850.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,17.0,0,53,1
16420,da4c408a054fc07180fe886283e3fa20,838e2d10f0338589fd0b6ef04aff4e77,5.0,50.0,1980.0,980.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0,58,0

In [238]:
join3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241149 entries, 74317 to 236469
Data columns (total 17 columns):
USER_ID_hash                  241149 non-null object
VIEW_COUPON_ID_hash           241149 non-null object
CAPSULE_TEXT                  241149 non-null float64
PRICE_RATE                    241149 non-null float64
CATALOG_PRICE                 241149 non-null float64
DISCOUNT_PRICE                241149 non-null float64
DISPPERIOD                    241149 non-null float64
USABLE_DATE_THU               241149 non-null float64
USABLE_DATE_FRI               241149 non-null float64
USABLE_DATE_SAT               241149 non-null float64
USABLE_DATE_SUN               241149 non-null float64
USABLE_DATE_HOLIDAY           241149 non-null float64
USABLE_DATE_BEFORE_HOLIDAY    241149 non-null float64
ken_name                      241149 non-null float64
SEX_ID                        241149 non-null int64
AGE                           241149 non-null int64
COUPON_ID_hash_purchase       241149 non-null int64
dtypes: float64(12), int64(3), object(2)
memory usage: 33.1+ MB

In [237]:
join3.to_pickle('Data')